<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Bonjour {{ avi.utilisateur.email }},</h1>

    <p>Nous souhaitons vous informer que votre avis concernant le film "{{ avi.titre }}" a été archivé par nos administrateurs.</p>

    <p>Si vous avez des questions ou des préoccupations, veuillez nous contacter.</p>

    <p>Merci de votre compréhension.</p>

    <p>Cordialement,<br>
    L'équipe de modération</p>
</body>
</html>
