<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réponse à votre signalement</title>
    <link rel="stylesheet" href="{{ asset('css/emails.css') }}">
</head>
<body>
    <h1>Réponse à votre signalement</h1>
    <p>Bonjour {{ signalement.utilisateur.email }},</p>
    <p>Nous avons bien reçu votre signalement concernant l'avis suivant :</p>
    <p><strong>Avis :</strong> {{ signalement.avis.commentaire }}</p>
    <p><strong>Raison du signalement :</strong> {{ signalement.raison }}</p>
    <p>Notre équipe va examiner votre signalement et prendra les mesures appropriées.</p>
    <p>Merci de nous avoir alertés.</p>
    <p>Cordialement,</p>
    <p>L'équipe de modération</p>
</body>
</html>
