{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
<main class="container"> 
    <p>
        S'il existe un compte correspondant à votre adresse e-mail, cela signifie qu'un e-mail contenant un lien contenant un lien vous permet de réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou<a href="{{ path('app_forgot_password_request') }}"> Réessayez</a>.</p>
</main>
{% endblock %}
