{% extends 'base.html.twig' %}

{% block title %}Recupérer ton mot de passe{% endblock %}

{% block body %}
<main class="container"> 
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Recupérer ton mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter votre adresse mail, et vous allez recevoir un mail pour modifier le mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
    </main>
{% endblock %}
