{% extends 'admin/index.html.twig' %}


{% block title %}Liste des Signalements{% endblock %}

{% block admin %}
    <h1>Liste des Signalements</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date de Création</th>
                <th>Avis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for signalement in signalements %}
                <tr>
                    <td>{{ signalement.id }}</td>
                    <td>{{ signalement.dateDeCreation|date('Y-m-d H:i') }}</td>
                    <td>{{ signalement.avis.id }}</td>
                    <td>
                        <a href="{{ path('admin_signalement_show', {'id': signalement.id}) }}" class="btn btn-primary">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
