{% extends 'base.html.twig' %}

{% block title %}Edit Bannissement{% endblock %}

{% block body %}
    <h1>Edit Bannissement</h1>

    {{ include('bannissement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bannissement_index') }}">back to list</a>

    {{ include('bannissement/_delete_form.html.twig') }}
{% endblock %}
