{# templates/signalement/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nouveau Signalement{% endblock %}

{% block body %}
<main class="container">
    <h1>Nouveau Signalement</h1>

    {{ form_start(form) }}
        {{ form_row(form.raison) }}
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</main>
{% endblock %}
