@import "variable";
@import "menu";
@import "footer";
@import "commun";

#search-form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  .bloc {
    display: flex;
    flex-direction: row;
  }

  .form-control {
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex: 1;
    min-width: 200px;
  }

  #suggestions {
    background-color: $white-color;
    border-radius: 4px;
    box-shadow: $card-shadow;
    .suggestion-item {
      padding: 8px;             /* Espace interne autour du texte */
      cursor: pointer;          /* Curseur "cliquable" */
      border-bottom: 1px solid #eee;  /* Ligne de séparation entre chaque suggestion */
    }
  }
}

.genre {
  margin-bottom: 30px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .card {
    background-color: $white-color;
    border: 1px solid $card-border-color;
    border-radius: 4px;
    box-shadow: $card-shadow;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
      width: 100%;
      height: 410px;
      display: block;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      padding: 15px;
      flex: 1;
      text-align: center;

      .card-title {
        font-size: 1.25rem;
        margin-bottom: 10px;
        flex-grow: 1;
      }

      p {
        font-size: 0.875rem;
        color: $text-color;
        margin-bottom: 15px;
      }
    }
  }
}
.buttons {
  text-align: center;
}

@media (max-width: 1200px) {
  .container .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .container .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container #search-form .bloc {
    flex-direction: column;
  }
  .genre {
    display: none;
  }

  .genre-select {
    display: block;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .container .grid-container {
    grid-template-columns: 1fr;
  }
}

// Style pour le select des genres
.genre-select {
  display: none;

  select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .genre-select {
    display: block;
  }
}
