@import "variable";
@import "menu";
@import "footer";

body {
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 40px; // Ajout d'un padding supplémentaire
    background-color: $background-color;
    box-shadow: $box-shadow;
    display: flex; // Utilisation de flexbox
    flex-direction: column; // Les enfants s'organisent en colonne
    height: 60vh;
    a{
        margin-top: 20px;
    }
    .btn{
        border-radius: 4px;
        padding: 15px; // Augmentation du padding pour plus d'espace
        background-color: $primary-color;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: background-color $transition-ease;
        text-align: center;
        margin-top: 20px; // Ajout d'une marge en haut pour espacer du contenu précédent
        width: 150px;

        &:hover {
            background-color: $primary-hover-color;
        }
    }
}

form {
    h1 {
        font-size: 28px;
        margin-bottom: 20px;
        text-align: center;
    }

    .btn {
        border-radius: 4px;
        display: block;
        padding: 15px; // Augmentation du padding pour plus d'espace
        background-color: $primary-color;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: background-color $transition-ease;
        text-align: center;
        margin-top: 20px; // Ajout d'une marge en haut pour espacer du contenu précédent

        &:hover {
            background-color: $primary-hover-color;
        }
    }



    label {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    input[type="tel"] {
        width: calc(100% - 20px);
        padding: 15px; // Augmentation du padding pour plus d'espace à l'intérieur des champs
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: $border-radius;
        margin-bottom: 10px; // Ajout d'une marge en bas pour espacer les champs
    }

    input[type="checkbox"] {
        margin-right: 10px;
    }
    textarea.form-control {
        width: 100%;
        // Ajoutez d'autres styles si nécessaire
    }
    
}
