<form method="post" action="{{ path('admin_bannissement_delete', {'id': bannissement.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bannissement.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
