{% extends 'admin/index.html.twig' %}

{% block title %}Avis des Utilisateurs{% endblock %}

{% block admin %}
    <h1>Avis des Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for avis in avis %}
                <tr>
                    <td>{{ avis.id }}</td>
                    <td>{{ avis.utilisateur.email }}</td>
                    <td>{{ avis.dateDeCreation|date('Y-m-d H:i') }}</td>
                    <td>
                        <a href="{{ path('admin_avis_show', {'id': avis.id}) }}" class="btn btn-primary">Voir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
