{% extends 'admin/index.html.twig' %}

{% block title %}Admin Contacts{% endblock %}

{% block admin %}
    <h1>Listes des Contacts</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Sent Date</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.dateDenvoie ? contact.dateDenvoie|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ contact.email }}</td>
                    <td>
                        <a href="{{ path('admin_contact_view', {'id': contact.id}) }}" class="btn btn-primary">Voir</a>
                    </td>
                </tr>
            {% else %}
            <tr>
                <td colspan="5">Pas de données trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
